<section class="about about-container">
  <div class="front-hov-a">
    <picture>
      <source srcset="../img/about/front-how-a.avif" type="image/avif">
      <source srcset="../img/about/front-how-a.webp" type="image/webp">
      <img loading="lazy" src="../img/about/front-how-a.jpg." class="image" width="500" height="210" alt="front b">
    </picture>
  </div>
  <div class="container">
    <div class="about__wrapper">

      <div class="about__inner">
        <h3 class="about__title title">The Easiest Way to Buy a Car Online</h3>
        <p class="about__descr">"From Your Phone to Your Home™"</p>
        <p class="about__text">
          Buying a car has never been easier! Apply, get approved, and shop from the comfort of your home.
        </p>
      </div>

    </div>
  </div>
  <div class="front-hov-b">
    <picture>
      <source srcset="../img/about/front-how-b.avif" type="image/avif">
      <source srcset="../img/about/front-how-b.webp" type="image/webp">
      <img loading="lazy" src="../img/about/front-how-b.jpg." class="image" width="500" height="255" alt="front a">
    </picture>
  </div>
</section>
