<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__descr">
        <h1 class="hero__title">
          What type of vehicle are you looking for?
        </h1>
        <a class="hero__link link" href="#">
          Get approved now
        </a>
      </div>
      <div class="hero__content">
        <div class="hero__items">
          <div class="hero__item item-hero">
            <picture>
              <source srcset="../img/hero/truck.avif" type="image/avif">
              <source srcset="../img/hero/truck.webp" type="image/webp">
              <img loading="lazy" src="img/hero/truck.png" class="image" width="342" height="" alt="192">
            </picture>
            <a class="item-hero__link link" href="#">
              I Want a Truck
            </a>
          </div>
          <div class="hero__item item-hero">
            <picture>
              <source srcset="../img/hero/car.avif" type="image/avif">
              <source srcset="../img/hero/car.webp" type="image/webp">
              <img loading="lazy" src="img/hero/car.png" class="image" width="342" height="" alt="192">
            </picture>
            <a class="item-hero__link link" href="#">
              I Want a car
            </a>
          </div>
          <div class="hero__item item-hero">
            <picture>
              <source srcset="../img/hero/suv.avif" type="image/avif">
              <source srcset="../img/hero/suv.webp" type="image/webp">
              <img loading="lazy" src="img/hero/suv.png" class="image" width="342" height="" alt="192">
            </picture>
            <a class="item-hero__link link" href="#">
              I Want a suv
            </a>
          </div>
          <div class="hero__item item-hero">
            <picture>
              <source srcset="../img/hero/van.avif" type="image/avif">
              <source srcset="../img/hero/van.webp" type="image/webp">
              <img loading="lazy" src="img/hero/van.png" class="image" width="342" height="" alt="192">
            </picture>
            <a class="item-hero__link link" href="#">
              I Want a van
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
