<section class="steps">
  <div class="container">
    <div class="steps__wrappper">
      <div class="steps__descr">
        <h2 class="steps__title title">
          Your perfect car in 3 easy steps
        </h2>
        <div class="steps__items list-reset">
          <div class="steps__item">
            <div class="steps__numb">1</div>
            <div class="steps__item-inner">
              <h3 class="steps__item-title">Apply Online</h3>
              <p class="steps__item-text">
                Quickly fill out our secure online car loan application to give us some basic info about yourself and what type of vehicle you want. That will help us get you pre-approved and start picking the best terms.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="steps__conntent">
        <picture>
          <source srcset="../img/steps/step-img.avif" type="image/avif">
          <source srcset="../img/steps/step-img.webp" type="image/webp">
          <img loading="lazy" src="../img/steps/step-img.png." class="image" width="536" height="547" alt="phone">
        </picture>
      </div>
    </div>
  </div>
</section>


